<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Coding Practic Camp 2020</title>

        <!-- Original CSS -->
        <link rel="stylesheet" href="../css/header.css">
        <style>
        </style>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <h1>Coding Practice Camp 2020 <span class="smile">;)</span></h1>
        <div>
            <h2>Algorithm Lectures</h2>
            <il>
                <li><a href="https://github.com/sourceShare2218/IntroductionToAlgorithm/blob/master/Day1.md">Day1</a></li>
                <li><a href="https://github.com/sourceShare2218/IntroductionToAlgorithm/blob/master/Day2.md">Day2</a></li>
                <li><a href="https://github.com/sourceShare2218/IntroductionToAlgorithm/blob/master/Day3.md">Day3</a></li>
                <li><a href="https://github.com/sourceShare2218/IntroductionToAlgorithm/blob/master/Day4.md">Day4</a></li>
                <li><a href="https://github.com/sourceShare2218/IntroductionToAlgorithm/blob/master/Day5.md">Day5</a></li>
                <li><a href="https://github.com/sourceShare2218/IntroductionToAlgorithm/blob/master/Day6.md">Day6</a></li>
                <li><a href="https://github.com/sourceShare2218/IntroductionToAlgorithm/blob/master/Day7.md">Day7</a></li>
                <li><a href="https://github.com/sourceShare2218/IntroductionToAlgorithm/blob/master/Day8.md">Day8</a></li>
                <li><a href="https://github.com/sourceShare2218/IntroductionToAlgorithm/blob/master/Day9.md">Day9</a></li>
                <li><a href="https://github.com/sourceShare2218/IntroductionToAlgorithm/blob/master/Day10.md">Day10</a></li>
            </il>
        </div>  
        
        <div>
            <h2>Coding Exams</h2>
            <ol>
                <li><a href="codingChallenges/codingChallangeIndex.html">First Exam</a></li>
                <li><a href="codingChallenges/codingChallangeIndex.html">Second Exam</a></li>
                <li><a href="codingChallenges/codingChallangeIndex.html">Mocking Coding Interview</a></li>
            </ol>
        </div>  

        <h2>Practice Rounds</h2>
        <!-- links might be added here-->
    </body>
</html>
